.idea/
*/__pycache__
/prac_08/KivyDemos-master (1)/KivyDemos-master/.gitignore
/prac_08/KivyDemos-master (1)/KivyDemos-master/anchor_layout.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/anchor_layout_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/basic_graphics_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/board_game.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/button_event.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/button_event_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/clock_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/clock_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/clock_demo2.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/clock_demo2.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/convert_m_km_solution.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/convert_m_to_km_solution.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/dynamic_widgets.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/dynamic_widgets.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/falling_drawing.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/falling_drawing.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/float_layout.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/float_layout_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/game_v1.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/game_v1.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/game_v2.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/game_v2.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/grid_layout.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/grid_layout_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/guitar.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/guitars.json
/prac_08/KivyDemos-master (1)/KivyDemos-master/guitars_app.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/guitars_app.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/guitars_console.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/hello_kv.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/hello_world.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/hints_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/hints_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/id_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/id_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/label.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/label_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/mouse_drawing.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/mvc.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/mvc_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/play_game_console.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/popup_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/popup_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/quick_sum_app.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/quick_sum_gui.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/README.md
/prac_08/KivyDemos-master (1)/KivyDemos-master/simple_animation_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/simple_animation_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/size_and_position_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/size_position.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/spinner_demo.kv
/prac_08/KivyDemos-master (1)/KivyDemos-master/spinner_demo.py
/prac_08/KivyDemos-master (1)/KivyDemos-master/widget.kv
